body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #4A403A;
}

.screen{
    width: 300px;
    height: 50px;
    border: 1px solid;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: ivory;
  
}
.container{
    margin-top: 50px;
    width: 500px;
    height: 300px;
}
.seat{
    width: 20px;
    height: 20px;
    border: 1px solid;
    margin: 5px;
    margin-left: 10px;
    background-color: lightblue;
    border-top-left-radius: 10px;

    border-top-right-radius: 10px;
}
.row{
    display: flex;
    
}
ul{
    list-style-type: none;
    display: flex;
    margin-top: 50px;
    padding: 0px 10px;
}
li{
    display: flex;
}
.first{
    
    margin-top: 100px;
}
#two{
    margin-left: 25px;
}
#three{
    margin-left: 25px;
}
.seat.selected{
    background-color: green;
}
.seat.occupied{
    background-color: red;
}